body {
    background-color: #223;
}


header {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: auto;
    width: auto;
    padding: 30px;
    background-color: #222;
    display: flex;
    justify-content:space-between;
}

header .icon-site img {
    margin-top: -15px;
    margin-top: 0 14px;
    text-decoration: none;
    transition: 0.4s;
    border-radius: 30px;
}


header .icon-site img:hover {
    padding: 10px;
    border-radius: 30px;
    background-color: #fff2;
    border-radius: 50%;
    border: 1px solid #fff2;
}


header .links-pages img {
    width: 25px;
    margin-bottom: -5px;
    margin-right: -4px;
    border-radius: 5px;
}

header .links-pages a {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 14px ;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: 0.4s;
    
}

header  .links-pages a:hover {
    padding: 15px;
    border-radius: 15px;
    color: black;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

main {
    display: flex;
    height: auto;
    width: auto;
    /* border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px; */
    background-color: #fff2;
    padding: 46px;
}


main .icon-perfil {
    align-items: center;
    align-content: center;
    background-color: white;
    width: 275px;
    box-shadow: 10px 10px #222;
    padding: 30px;
    border: 2px solid #222;
    border-radius: 30px;
    margin-left: 200px;
    margin-right: 60px;

}

main .icon-perfil img {
    display: flex;
    width: auto;
    height: 250px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 70px;
    border-radius: 100%;
    box-shadow: 6px 6px   #b9b9b9;
    margin: 0;

}

main .icon-perfil p  {
    color: #000000;
    font-size: 24px;    
    font-family: monospace;
    margin-top: 40px; 
    margin-left: 40px;    
}

/*

@media only screen and (max-width: 280px) {
    body {
        width: auto;
    }
    header {
        padding: 30px;
        height: 85px;
    }

    header .links-pages a {
        display: block;
        margin-bottom: 5px;
        padding: 2px;
    }

    header .links-pages a:hover {
        padding: 10px;
    }   


    main .icon-perfil img {
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: -50px;
    }

    main .list-tasks-feitos nav {
        position: relative;
        right: 25px;
        max-width: 165px;
        
    }

    main .list-tasks-feitos p {
        position: relative;
        right: 20px;
        transition: 0.2s;
        max-width: 150px;
    }

    main .list-tasks-feitos p:hover {
        max-width: 152px;
    }


    main .list-tasks-pendentes nav {
        position: relative;
        right: 55px;
        max-width: 165px;
    }

    main .list-tasks-pendentes p {
        position: relative;
        right: 20px;
        transition: 0.2s;
        max-width: 150px;
    }

    main .list-tasks-pendentes p:hover {
        max-width: 152px;
    }

}

*/

main .list-tasks-feitos img {
    width: 15%;
    height: auto;
    margin-left: -40px;
    margin-right: -5px;
}


main .list-tasks-feitos p {
    font-family: monospace;
    font-size: 20px;
    color: #fff;
    background-color: rgb(67, 67, 85);
    padding: 8px;
    border-radius: 30px;
    padding-left: 50px;
    transition: 0.4s;
    width: 150px;
    box-shadow: 5px 5px #222;
    
}

main .list-tasks-feitos p:hover {
    font-size: 23px;
    color: #fff;
    font-weight: bold;
    background-color: rgb(75, 75, 116);
    padding: 10px;
    border-radius: 40px;
    padding-left: 60px;
    width: 160px;
    
}

main .list-tasks-feitos nav {
    display: block;
    background-color: #fff;
    margin-top: 45px;
    margin-left: 10px;
    width: auto;
    max-width: 210px;
    padding: 45px;
    border-radius: 30px;
    height: auto;
    box-shadow: 10px 10px #222;
}



main .list-tasks-feitos h1 {
    display: flex;
    justify-content: center;
    height: 5px;
    margin-top: -30px;
    margin-bottom: 50px;
    font-family: monospace;

}



.menu-games {
    background-color: #fff2;
    width: auto;
    padding: 100px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.menu-games h1 {
    margin-top: -30px;
    font-family: monospace;
    color: white;
    font-size: 30px;
    text-align: center;
}

.menu-games nav {

    display: inline-flex;
    background-color: #fff;
    margin-top: 20px;
    width: 93%;
    max-width: 1300px;
    padding: 45px;
    border-radius: 30px;
    height: auto;
    box-shadow: 10px 10px #222;
    justify-content:space-around;
    
}

.menu-games  div {
    border-radius: 30px;
    height: auto;
    width: auto;
    box-shadow: 10px 10px #222;
    background-color: white;
    padding: 30px;
    border: 2px solid #222;
    max-width: 20%;
    min-width: 40%;
    


}

.menu-games img {
    width: 25%;
    box-shadow: 10px 10px #222;
    background-color: white;
    padding: 15px;
    border: 2px solid #222;
    border-radius: 30px;
    height: auto;
    transition: 0.4s;
    min-width: 30%;
    max-width: 130px;

    

}

#memo img {
    margin-right: 35px;
    margin-bottom: 30px;
    height: 110px;
    width: 100%;
    transition: 0.2s;
}

#conc img {
    height: 110px;
    margin-right: 35px;
    margin-bottom: 30px;
    width: 100%;
    transition: 0.2s;
}

#memo img:hover {
    padding: 17px;
}

#conc img:hover {
    padding: 17px;
}